:root {
    --stree-highlight: #eeeeee;
    --stree-select-highlight: #eeeeee;
    --stree-edit-highlight: #eeeeee;

    --stree-item-text: #303030;
    
    --stree-folder-line: #aaaaaa;
    
    --stree-item-svg-icon-fill: #fafafa;
    --stree-item-svg-icon-stroke: #303030;
    
    --stree-contextmenu-background: #eeeeee;
    --stree-contextmenu-border: #aaaaaa;
    --stree-contextmenu-shadow: 2px 2px 2px #dddddd;
    --stree-contextmenu-item-line: #aaaaaa;
    --stree-contextmenu-highlight: #fafafa;

    --smenu-text-light: #303030;

    --stabs-tab-title-bg: #E7EAED;
    --stabs-tab-title-border: #afafaf;
    --stabs-tab-title-active-bg: #FBFCFC;
    --stabs-tab-title-active-shadow: 2px 0px 3px #dddddd;
    --stabs-tab-content-border: #DADCE0;
    --stabs-tab-title-scrollbar: rgba(154,154,154,0.8) transparent;
    --stabs-tab-title-scrollbar-bg: rgba(154,154,154,0.8);
    --stabs-tab-title-scrollbar-track-bg: #eeeeee;
    --stabs-tab-close: #666666;
    --stabs-tab-close-bg: #dddddd;
    --stabs-tab-close-hover: #303030;
    --stabs-tab-close-hover-bg: #aaaaaa;

}

.stree{
    position: relative !important;
    box-sizing: content-box !important;
}

.stree .stree-item-highlight {
    display: none;
    position: absolute;
    top: -4px;
    height: 30px;
    background-color: var(--stree-highlight);
    z-index: -1;
}

.stree .stree-item-highlight.show, .stree .stree-item-highlight.selected, .stree .stree-item-highlight.edit{
    display: inline-block;
}

.stree .stree-item-highlight.selected{
    background-color: var(--stree-select-highlight);
}

.stree .stree-item-highlight.edit{
    background-color: var(--stree-edit-highlight);
}

.stree ul, li{
    list-style-type: none;
    padding: 0;
}

.stree ul.stree-list{
    display: none;
    position: relative;
    padding: 4px;
    padding-left: 5px; 
    margin: 0;
}

.stree ul.stree-list-root{
    display: block;
}

.stree ul.stree-list-expanded{
    display: inline-block;
}

.stree li.stree-list-item{
    position: relative;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    color: var(--stree-item-text);
    margin: 3px;
    width: 100%;
}

.stree .stree-item-label {
    padding: 4px;
    display: block;
    max-width: 200px;
    background-color: transparent;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.stree .stree-item-label.edit {
    text-overflow: initial;
}

.stree .stree-list-item.hover .stree-item-label-text.hover {
    font-weight: bold;
}

.stree .stree-item-label.stree-item-selected{
    font-weight: bold;
}

.stree .stree-item-expand {
    display: inline-block;
    background: transparent;
    width: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
    margin-top: -3px;
    padding: 0;
    box-sizing: content-box;
    font-size: 15pt;
}

.stree .stree-item-expand.expanded {
    transform: rotate(90deg);
}

.stree .stree-item-default{
    background: transparent;  
}

.stree .stree-item-folder {
    cursor: pointer;
}

.stree .stree-folder-line {
    display: none;
    position: absolute;
    background: transparent;
    width: 2px;
    top: 20px;
    bottom: 18px;
    left: 25px;
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: var(--stree-folder-line);
    z-index: 10;
}

.stree-list-item.hover > .stree-folder-line, .stree-list-item.selected > .stree-folder-line {
    display: inline-block;
}

.stree .stree-item-label{
    vertical-align: middle;
}

.stree .stree-item-label-text {
    padding: 2px;
    vertical-align: bottom;
    font-size: 9pt;
}

.stree .stree-item-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
    padding: 0px;
    box-sizing: content-box;
}

.stree .stree-item-icon svg {
    fill: var(--stree-item-svg-icon-fill);
    stroke: var(--stree-item-svg-icon-stroke);
    width: 97%;
    height: auto;
}

.stree .stree-item-icon img {
    height: 97%;
    width: auto;
}

.stree .stree-item-edit {
    font-size: 9pt;
    border: 0;
    padding: 4px;
    outline: none;
    margin-top: -4px;
}

/* Context Menu */

.stree-ctxmenu {
    position: absolute;
    display: none;
    top: 25px;
    left: 20px;
    background-color: var(--stree-contextmenu-background);
    border-width: 1px;
    border-style: solid;
    border-color: var(--stree-contextmenu-border);
    box-shadow: var(--stree-contextmenu-shadow);
    padding: 0;
    min-width: 150px;
    z-index: 100000;
}

.stree-ctxmenu.show{
    display: inline-block;
}

.stree-ctxmenu-item {
    display: block;
    margin: 0;
    margin-bottom: 0px;
    padding: 6px;
    cursor: pointer;
    font-family: Arial, Verdana, Helevetica, sans-serif;
    font-size: 10pt;
}

.stree-ctxmenu-line {
    font-size: 3px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--stree-contextmenu-item-line);
    margin-bottom: 3px;
}

.stree-ctxmenu-item:hover {
    background-color: var(--stree-contextmenu-highlight);
}


/* Menu */
.smenu{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.smenu .menu-item {
    font-size: 8pt;
    color: var(--smenu-text-light);
    padding: 2px;
    margin-right: 6px;
    cursor: pointer;
}

.smenu .menu-item:hover{
    border-bottom: 1px dashed var(--smenu-text-light);
}

.smenu .menu-sep {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 60%;
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: var(--smenu-text-light);
    margin-right: 10px;
}


/* Tabs */
.stabs {
    display: flex !important;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.stabs .stabs-header {
    position: relative;
    flex: 0 1 20px;
    overflow: hidden;
    z-index: 1;
    scrollbar-width: thin;
    scrollbar-color: var(--stabs-tab-title-scrollbar);
}

.stabs .stabs-header::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

.stabs .stabs-header::-webkit-scrollbar-track {
    background: var(--stabs-tab-title-scrollbar-track-bg);
}

.stabs .stabs-header::-webkit-scrollbar-thumb {
    background-color: var(--stabs-tab-title-scrollbar-bg);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.stabs .stabs-header:hover {
    overflow-x: auto;
}

@-moz-document url-prefix() {
    .stabs .stabs-header:hover {
        flex: 0 1 28px;
    }
}

.stabs .stabs-title-bar {
    position: absolute;
    display: table;
    padding: 0;
    margin: 0;
    height: 20px;
    left: 0;
    border-spacing: 1px;
}

.stabs .stabs-title {
    display: table-cell;
    position:relative;
    min-width: 60px;
    max-width: 100px;
    background-color: var(--stabs-tab-title-bg);
    border-width: 1px;
    border-style: solid;
    border-color: var(--stabs-tab-title-border);
    border-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 3px;
    margin-right: 4px;
    font-size: 8pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.stabs .stabs-title.active {
    font-weight: bold;
    background-color: var(--stabs-tab-title-active-bg);
    box-shadow: var(--stabs-tab-title-active-shadow);
    margin-right: 5px;
    border-bottom: none;
}

.stabs .stabs-close {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 7pt;
    padding: 0;
    margin: 0;
    right: 6px;
    top: 3px;
    text-align: center;
    border-radius: 50%;
    background: var(--stabs-tab-close-bg);
    color: var(--stabs-tab-close);
    cursor: pointer;
}

.stabs .stabs-close:hover {
    background: var(--stabs-tab-close-hover-bg);
    color: var(--stabs-tab-close-hover);
}

.stabs .stabs-pane {
    flex: 1 1 auto;
    padding: 5px;
    padding-top: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--stabs-tab-content-border);
}

.stabs .stabs-content {
    display: none;
    padding: 0;
    margin: 0;
}

.stabs .stabs-content.active {
    display: block;
}

